@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #65412aba ;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif; 
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Blog Container */
.blog-container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    font-size: 2rem;
    margin: 20px 0;
    color: #8b4513;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    text-align: center;
}

.blog-post, .article {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px 0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.blog-post:hover, .article:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.blog-post h3, .article h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.blog-post p, .article p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.blog-post a, .article a {
    display: inline-block;
    text-decoration: none;
    background-color: #8b4513;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.blog-post a:hover, .article a:hover {
    background-color: #a0522d;
}

/* Footer */
footer{
    background-color: #3E2723;
    color: #F2E2D2; 

}

footer .footer-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li a {
    color: #f6bb46;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .contact-info {
    margin-top: 20px;
}

footer .footer-bottom {
    text-align: center;
    margin-top: 30px;
    background-color: #4B3C31; 
    padding: 10px 0;
}

footer .footer-bottom p {
    margin: 0;
}

footer .footer-links a {
    color: #D28E56; 
    text-decoration: none;
    margin: 0 10px;
}

footer .footer-links a:hover {
    text-decoration: underline;
}